@import "mixins";
@import "blocks/header";

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

}

.btn {
    background-color: #FF9980;
    border: 1px solid #FF9980;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    padding: 11px 25px;
    text-decoration: none;
    display: block;
}
.btn-white {
    @extend .btn;
    border-color: #BCD8E5;
    color: #173A56;
    background-color: #fff;
}